body {
  font-family: 'Bree Serif', 'Open Sans', sans-serif;
    
  background-image: url("../img/bg-top.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#body2 {
  background-image: url("../img/bg-bottom.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 150px;
}

.hidden {
  display: none;
}

#bg-top, #bg-bottom {
  width: 100%;
  height: auto;
}

#bg-top {
  position: absolute;
  top: 0px;
}

#bg-bottom {
  margin-top: -700px;
  z-index: 0;
}